*{
    font-family: sans-serif;
  }
  #bigcontact{
    background-image: url("jugaadaboutbg.jpg");
  }
  .memberbox {
      margin: 20px 50px;
      height: 300px;
      width:250px;
      box-shadow: 0px 2px 7px -4px #000;
      transition: 0.1s linear;
      backface-visibility: hidden;
      border-radius: 3px;
      border: none;
      overflow: hidden;
  }
  
  .memberbox:hover {
      box-shadow: 0px 2px 7px -1px #000;
      transition: 0.1s linear;
      border: none;
      backface-visibility: hidden;
  }
  
  .memberbox:hover .mphotohover {
      opacity: 0.9;
      transition: 0.1s linear;
      backface-visibility: hidden;
  }
  
  .memberphoto {
      height: 200px;
      box-sizing: border-box;
      backface-visibility: hidden;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      padding: 0px;
      transition: 0.1s linear;
  }
  
  .mphotohover {
      width: 100%;
      height: 100%;
      margin: 0px;
      backface-visibility: hidden;
      padding: 0px;
      border-radius: 3px 3px 0px 0px;
      opacity: 0;
      display: block;
      background: #333;
      transition: 0.1s linear;
  }
  
  .mphotohover img {
      width: 75px;
      display: block;
      position: absolute;
      top: 33%;
      backface-visibility: hidden;
      left: 35%;
  }
  
  .membername {
    background-image: url("imgbg.jpg");
      padding: 18px;
      text-align: center;
      color: #fff;
      font-size: 20px;
  }
  
  .membersubtitle {
    background-image: url("imgbg.jpg");
      padding: 12px;
      text-align: center;
      color: #fff;
      font-size: 16px;
  }