html{
    scroll-behavior: smooth;
    color-scheme: dark;
}
*{
    margin: 0;
    padding: 0;
}
body{
    /* background: linear-gradient(#ffbb00,rgba(0, 0, 0, 0.76),#ffbb00) no-repeat; */
    box-sizing: border-box;
}
/* .Navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem ;
} */
.upper span img{
    height: 4rem;
    border-radius: 5rem;
}
.hamburger{
    display: none;
}
/* .nav::before{
    position: absolute;
    top: 5rem;
} */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #fff; */
    background-color: rgb(255,255,255,0.1);
    padding: 0rem 1rem;
    position: fixed;
    top: 0.1rem;
    width: 98%;
    backdrop-filter: blur(0.4rem);
    border-bottom: 1px solid rgba(255, 255, 255, 0.479);
    box-shadow: 5px 0px 10px black;
}
#navlist{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0rem,1rem;
}
.navitem{
    margin: 1rem;
    padding: 1rem;
    list-style: none;
}
.navitem a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: rgb(46, 40, 40);
}
.navitem a:hover, .navitem a:active{
    color: rgb(253, 242, 178);
}
/* _____________________________________________________________________________________________________ */
/* .extra::before{
    content: "";
    height: 80%;
    width: 100%;
    position: absolute;
    top: -5rem;
    background-color: black;
    background: url(../gym/gym.jpg);
    z-index: -1;
    opacity: 0.7;
} */
.extra img
{
    width: 100%;
    height: 50%;
}
.extra{
    position: absolute;
    top: 0%;
    z-index: -1;
}
/* _____________________________________________________________________________________________________ */
@media screen and (max-width:650px){
    .nav{
        width: 100%;
    }
    .upper{
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .upper span img{
        height: 3rem;
    }
    .hamburger{
        display: block;
        width: 1.5rem;
        cursor: pointer;
    }
    #burgeritem1{
        transform: rotate(45deg) translateY(00.3rem);
    }
    #burgeritem2{
        display: none;
    }
    #burgeritem3{
        transform: rotate(-45deg)  translateY(-00.3rem);
    }
    .cross{
        #burgeritem1{
            transform: rotate(0);
        }
        #burgeritem2{
            display: block;
        }
        #burgeritem3{
            transform: rotate(0);
        }
    }
    .burgeritem{
        width: 1.5rem;
        height: 0.3rem;
        background-color: black;
        list-style: none;
        margin: 0.1rem;
    }
    .about{
        flex-direction: column;
    }
    .aboutimg{
        width: 45%;
        justify-content: center;
    }
    .abouttext{
        width: 75%;
    }
    .project{
        flex-direction: column;
    }
    .imgpart{
        width: 100%;
    }
    .nav{
        flex-direction: column;
        justify-content: center;
    }
    #navlist{
        flex-direction: column;
        justify-content: center;
        /* background-color: white; */
        display: none;
    }
    /* .hidden{
        display: none;
        transition: 0.5s ease-in-out;
    }
    .visible{
        display: block;
        transition: 0.5s ease-in-out;
    } */
}